//--------------------- start about section -------------------
.about__section {
  .about__container {
    .about__info {
      p {
        max-width: 500px;
        margin: 0.5rem 0;
        line-height: 1.6;
        letter-spacing: 1px;
        font-family: sans-serif;
      }
      p.description:nth-child(2) {
        animation: zoomInLeft 1.5s 1.4s backwards;
      }
      p.description:nth-child(3) {
        animation: zoomInLeft 1.5s 1.5s backwards;
      }
      p.description:nth-child(4) {
        animation: zoomInLeft 1.5s 1.6s backwards;
      }
    }
    .skills-zone {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: zoomInRight 1.5s 1.5s backwards;
      a {
        cursor: default;
      }
    }
    @media (max-width: 772px) {
      .skills-zone {
        width: 100%;
      }
    }
  }
}
//--------------------- end about section ---------------------
