// ============================================
// IMPORTS
// ============================================
@use './mixins';

// ============================================
// SIDEBAR STYLES
// ============================================

nav.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 99;
  width: auto;
  padding: 1rem;
  transform: translateY(-50%);
  overflow-x: auto;

  .sidebar__container {
    @include mixins.flex-column-gap(1.5rem);
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    animation: fadeInLeft 1s 1s backwards;

    a {
      width: 40px;
      height: 40px;
      font-size: 18px;
      @include mixins.flex-center;
      text-align: center;
      border-radius: 50%;
      background-color: transparent;
      color: var(--fourth-color);
      @include mixins.transition-all-linear(0.2s);

      @media (max-width: 600px) {
        width: 35px;
        height: 35px;
        font-size: 20px;
      }

      &.active,
      &:hover {
        background-color: var(--main-color);
        color: var(--third-color);
        @include mixins.glow-shadow;
      }
    }
  }

  @media (max-width: 772px) {
    bottom: 1rem;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    width: auto;

    .sidebar__container {
      flex-direction: row;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px 15px;
      backdrop-filter: blur(20px);
      animation: fadeInUp 1s 1s backwards;
      border-radius: 25px;
    }
  }
}
